html, body {
    font-size: 18px;
}

*, *::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
}

body {
    background-color: #5F9EA0;
    
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;

}


.header {
    color: rgb(184, 122, 41);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 9%, rgba(0,212,255,1) 87%); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    
}

.header h1, header h3 {
text-shadow: 0px 2px 2px rgb(49, 49, 49) ;  
padding: 10px;
border-bottom: 0.25rem solid rgba(9,9,121,0.3);

}

.container {
    position: relative;
}
.base {
    background-color: cadetblue;
    margin-top: 3rem;
}

.modal {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    margin: 10% auto 0;
    display: block;
    width: 80%;
    max-width: 700px;
    animation: zoom 0.2s;
}

.cerrar {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.polaroid {
    align-items: center;
    box-shadow: 0px 23px 11px 1px rgba(0,0,0,0.22) ,0px 23px 20px -10px rgba(0,0,0,0.87);
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    margin-bottom: 3rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 20px;
}

.polaroid img {
    border: solid hsla(182, 25%, 50%, 0.8);
    display: block;
    height: auto;
    width:  200px;
    margin: 0 auto;
    max-width: 100%;

}
.polaroid p {
    align-items: center;
    background-color: hsla(182, 25%, 50%, 0.8);
    display: flex;
    justify-content: center;
    width: 200px;
    height: 20%;
    text-align: center;

}

.artemis {
    width: 100%;
    height: 500px;
    background: url(https://raw.githubusercontent.com/ProgrammerDwarf/Brawlhalla-tribute/master/assets/images/destroyed-bg.jpg) 0 / cover fixed;
}

.azoth {
    width: 100%;
    background: url(https://raw.githubusercontent.com/ProgrammerDwarf/Brawlhalla-tribute/master/assets/images/labe-bg.png) 0 / cover fixed;
}

.faith {
    width: 100%;
    background: url(https://raw.githubusercontent.com/ProgrammerDwarf/Brawlhalla-tribute/master/assets/images/plains-bg.jpg) 0 / cover fixed;}
.wu {
    width: 100%;
    background: url(https://raw.githubusercontent.com/ProgrammerDwarf/Brawlhalla-tribute/master/assets/images/tree-bg.png) 0 / cover fixed;
}

.yumiko {
    width: 100%;
    background: url(https://raw.githubusercontent.com/ProgrammerDwarf/Brawlhalla-tribute/master/assets/images/destroyed-bg.jpg) 0 / cover fixed;
}

.footer {
    background-color: rgb(59, 94, 95);
    text-align: center;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(22, 22, 22);
}

.footer span {
    text-transform: uppercase;
    color: rgb(117, 27, 27);
}

/* animacion */
@keyframes zoom {
    0% {
        transform: scale(0);
    }
    1% {
        transform: scale(0);
    }
    98% {
        transform: scale(1.1);
    }
    99%{
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (min-width: 760px) {
    .container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
    }

    div.polaroid {
        display: flex;
        height: auto;
        margin: 2%;
        width: 29%;

    }

    .polaroid img {
        height: auto;
        width: 50%;
     }

    .polaroid p {
        width: 50%;
    }
}

    /* All the pictures are from Brawlhalla, a online fight game.
    I don't pretend to use its pictures and images for professional purpose */